doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Laure Kamalandua: A cloud, startup and devops enthusiast. Sharing my passion for Microsoft, Azure, Powershell and web development advancements.')
    meta(name='author', content='Laure Kamalandua')
    title Laure Kamalandua
    block scripts
    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/index.min.css', rel='stylesheet')
    link(href='stylesheets/seperator.css', rel='stylesheet')
    // Custom Fonts
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation Section
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars(style='margin-top:-8px;font-size:27px;')
          a.navbar-brand.page-scroll(href='#page-top')
            span.light Laure Kamalandua
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='http://laurekamalandua.com/blog') Blog
            //
              <li>
              <a class="page-scroll" href="#projects">Portfolio</a>
              </li>
            li
              a.page-scroll(href='mailto:hi@laurekamalandua.com') Contact
            li
              a.page-scroll(href='http://github.com/laurekamalandua', target='_blank') Github
            li
              a.page-scroll(href='http://twitter.com/laurekamalandua', target='_blank') Twitter
            li
              a.page-scroll(href='http://linkedin.com/in/laurekamalandua', target='_blank') LinkedIn
            //
              <li>
              <a class="" href="#github"><i class="fa fa-github"></i></a>
              </li>
              <li>
              <a class="" href="#github"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
              <a class="" href="#github"><i class="fa fa-facebook"></i></a>
              </li>
    // Profile Sections
    #profile-header
      .container
        .row
          .col-md-8.col-md-offset-2.centered
            //img.img-circle(src='../images/profile-pic.png', height='200px', width='200px')
            h2
              b#one A cloud, 
              b#two startup 
              | and 
              b#three devops 
              | enthusiast
              br
              br
              | Sharing my passion for Microsoft, Azure, Powershell and web development advancements.
              br
              br
              br
              | Read my blog
            a.btn.btn-circle.page-scroll(href='#blog')
              i.fa.fa-angle-double-down.animated
      #post
        .container
          .row
            .col-md-12
              h2.purple
                span 40 posts
              
   
    svg#bigTriangleColor(xmlns='http://www.w3.org/2000/svg', version='1.1', width='100%', height='100', viewbox='0 0 100 102', preserveaspectratio='none')
      path(d='M0 0 L50 100 L100 0 Z')
    // Blog Section
    #blog 
      section
        .row
          .col-md-4.bg-turqoise
            blockquote
               a#bg-title-one(href='http://laurekamalandua.com/blog/monify-a-dashboard-on-powershell-and-nodejs/') Developing Monify - A monitoring dashboard built with Powershell and NodeJS (Part I) 
            p#bg-date-one 02 MAY 2016
          .col-md-4.bg-turqoise
            blockquote
               a#bg-title-one(href='http://laurekamalandua.com/blog/building-cloud-apps-with-azure/') Building Cloud apps with Microsoft Azure (Freebie)  
            p#bg-date-one 28 APRIL 2016
          .col-md-4.bg-turqoise
            blockquote
               a#bg-title-two(href='http://laurekamalandua.com/blog/bash-on-windows-get-started-part-1/') Bash on Windows - Getting Started (Part I) 
            p#bg-date-one 19 APRIL 2016

    #pre-footer
      .container
        .row
          .col-md-12.centered
            p
              | Developed with   
              i.fa.fa-heart
              br
              | running on NodeJs 4.2.6, Express 4.13.4, Hexo 3.1.1 and Jade 1.11.0
              br
              a(href='mailto:laure.kamalandua@gmail.com') laure.kamalandua@gmail.com
    // Page Loading
    script(src='javascripts/loading.js')
    // jQuery
    script(src='javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')
    // Plugin JavaScript
    script(src='javascripts/jquery.easing.min.js')
    // Custom Theme JavaScript
    script(src='javascripts/index.js')
    script(type='text/javascript')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-76780427-1', 'auto');
      ga('send', 'pageview');